<!DOCTYPE html>
<html>
    <head>
        <title>俺の小遣い帳</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    </head>

    <body>
    <h1>所持金<%= @wallet %>円</h1>

    <!--
    行を追加します<input type="button" value="行を追加" id="coladd" onclick="coladd()">
        
    <table id="table" border="1">
        <tr>
            <td>
                商品
            </td>
            <td>
                値段
            </td>
        </tr>
    </table> 
    -->
    <h1>収入リスト<i class="fas fa-money-bill"></i></i></h1>
    <button><%= link_to "収入を追加する",'incomes/new'%></button>
    <h1>欲しいものリスト<i class="fas fa-meteor"></i></h1>
    <button><%= link_to "欲しいものを追加する", 'wishes/new' %></button>
    <div class="wishes">
        <% @wishes.each do |wish| %>
            <% if wish.purchased == false %>
            <li><%= wish.name %></li>
            <li><%= wish.price %></li>
            <li><%= link_to "買った!", wish_path(wish), method: :put %></li>
            <li><%= link_to "削除する", wish,  method: :delete,
                                        date: { confirm: "本当によろしいですか?"} %></li>
            <% end %>
        <% end %>
    </div>
    <h1>貸与金リスト<i class="fas fa-skull-crossbones"></i></h1>
    <button><%= link_to "貸与金リストを追加する", 'loans/new' %></button>
    <div class="loans">
        <% @loans.each do |loan| %>
            <% if loan.repaid == false %>
            <li><%= loan.name %></li>
            <li><%= loan.amount %></li>
            <li><%= link_to "返してもらった!", loan_path(loan), method: :put %></li>
            <li><%= link_to "削除する", loan,  method: :delete,
                                        date: { confirm: "本当によろしいですか?"} %></li>
            <% end %>
        <% end %>
    </div>
<script>
    function coladd() {
        var table = document.getElementById("table");
        // 行を行末に追加
        var row = table.insertRow(-1);
        //td分追加
        var cell1 = row.insertCell(-1);
        var cell2 = row.insertCell(-1);
        // セルの内容入力
        cell1.innerHTML = '<input>';
        cell2.innerHTML = 'この行を削除しますか？<input type="button" value=削除" id="coladd" onclick="coldel(this)">';
    }
    function coldel(obj) {
        // 削除ボタンを押下された行を取得
        tr = obj.parentNode.parentNode;
        // trのインデックスを取得して行を削除する
        tr.parentNode.deleteRow(tr.sectionRowIndex);
    }
</script>
    </body>
</html>